:root {
    --bg-color: #CD0E12;
    --text-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--text-font);
    color: white;
}

body {
    background-color: var(--bg-color);
}

header {
    position: fixed;
    width: 100%;
    padding: 40px 60px;
    background: var(--bg-color);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
    gap:50px;
}

nav ul li a {
    color:var(--text-color2);
    font-size: 1.2rem;
    transition: all 0.1s ease;
}

nav ul li a:hover {
    border-bottom: 3px solid white;
}

.logo{
    font-size: 2rem;
    color:var(--text-color2);
    font-weight: 900;
}

section {
    min-height: 50vh;
    width: 100%;
}

#carrossel {
    padding: 25%;
    display: flex;
    justify-content: center;
}

#carrossel img{
    height: 600px;
}

#sobre {
    margin-top: 100px;
     display: flex;
     justify-content: center;
}

.medicao {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    margin: 0 6rem 6rem 3rem;
    padding: 0  2rem;
    gap: 2rem
}

.medicao-item {
    width: 25%;
}

.medicao-item span{
    font-size: 2.5rem;
}

.medicao-item h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1rem;
}

.medicao-item p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    color: black;
}

#newsletter {
    margin-top:70px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.info-titulo{
    margin-bottom: 50px;
    font-size: 2.2rem;
}

.info-titulo h2 {
    color: black;
}

#email {
    width: 350px;
    height: 40px;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 24px;
    color:var(--bg-color);
}

.info-email::placeholder {
    color:var(--bg-color);
    padding: -15px;
    padding-left: 25px;
    background: url('../assets/email.svg') no-repeat;
}

.mensagem {
    color: black;
    font-size: 25px;
}

.mensagem.hidden {
    display: none;
}

footer {
    display: flex;
    justify-content: center;
}